
.rsvp_button{
    cursor: pointer;
    textDecoration: underline;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.rsvp_button-registered {
    color: black;
    background-color: coral;
}


.rsvp_button-unregistered {
    color: coral;
    background-color: black ;
}


.no_more_place {
    padding: 10px;
    color: orangered;
    background-color: black ;
    font-size: xx-large;
}



.no_need_for_rsvp {
    padding: 10px;
    color: yellow;
    background-color: black ;
    font-size: xx-large;
}

.no_tournament_today{
    padding: 20px;
    color: orange;
    background-color: darkblue ;
    font-size: x-large;
}

.tournament_data {
    padding: 20px;
    font-size: x-large;

    border-radius: 4px;
}

.tournament_data_registered {
    background-color: palegreen;
    color: green;
}

.tournament_data_unregistered {
    color: maroon;
    background-color: rgb(255, 0, 0, 0.1);
}

.rsvp_text{
    font-size: xx-large;

}
.rsvp_text-registered {
    color: green;

}
.rsvp_text-unregistered {
    color: brown;

}
