@import '@/app/style.css';
@import '@/app/ui/style.css';
@import '@/app/signup/style.css';
@import '@/app/[userId]/style.css';

.bold {
  font-weight: bold;
}
.terms-of-service{
  margin: 10px;
  max-width: 60%;
}
.header-h1{
  margin-top:10px;
  font-weight: bold;
  font-size: 16px;
}
.header-h2{
  margin-top:10px;
  font-size: 13px;
}
.pera{
  font-size: 11px;

}
.zoom-on-hover:hover {
  transform: scale(1.6);
  transition: transform 0.5s;
}
.justify-end {
  justify-content: flex-end;
  justify-self: end;
}
.sort-cursor {
  cursor: ns-resize;
}

.table-text-item {
  text-align: center;
  padding: 0;
}

.card-table {
  table {
    border-spacing: 1px;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;

    width: 100%;
    td {
      border-spacing: 1px;
      border: 0;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      max-height: 15px;
      line-height: 15px;
    }
    th {
      border-spacing: 1px;
      border: 0;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      width: 110px;
    }
  }
}

.table-item {
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.smaller-test {
  font-size: smaller;
}

.thin-column {
  max-width: 160px !important;
}

.CheckCircleIcon {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

.config-seperator {
  margin: 20px 0;
  height: 20px;
  background-color: #0070f377;
}
.config-section {
  margin: 0 10px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .terms-of-service{
    margin: 10px;
    max-width: 90%;
  }
}
