@import '@/app/style.css';
@import '@/app/ui/style.css';
@import '@/app/signup/style.css';
@import '@/app/[userId]/style.css';


:root {
  --white: #dde1e5;
  --white-dark: #f9f9f9;
  --white-darker: #cccccc;
  --red-light: #c94455;
  --red: #b62230;
  --red-dark: #551220;
  --grey-lighter: #a5abb0;
  --grey-light: #636a71;
  --grey: #393e45;
  --grey-dark: #131d26;
  --grey-darker: #272727;
  --black: #222222;
  --grey-placeholder: #a1a1a1;
  --blue: #3495d4;
  --blue-light: #6894d7;
  --green: #57b86a;
  --green-registered: #286e34;

  --grey-mid: #3b4248
}
/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--red-dark);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
  border: 3px solid var(--black);
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--red);
}

.breadcrumb {
  color: var(--white-darker);
}
.breadcrumb-active {
  color: var(--red-light);
}


body{
  background: var(--black);
  color: var(--white);

}
.SpinningChipWrappingButton{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-top: 0;
  padding-bottom: 10px;
  background: var(--white);
  height: 42px !important;
  width: 64px !important;
}
.tournaments-table{
  direction: rtl;
  background: var(--grey-darker);
  padding: 10px;


  .header-row{
    background: var(--red);
    color: var(--white);
    text-align: right !important;
  }
  .data-row{
    background: var(--grey);
    color: var(--white);
    text-align: right !important;
  }

}

.pagination-button{
  background: var(--black);
  color: var(--white);
}

.pagination-button:hover{
  background: var(--red-dark);
  color: var(--white);
}
.pagination-button-selected{
  background: var(--red);
  color: var(--white);
}

.disabled-pagination-arrow{
  background: var(--grey-lighter);
}

.player-table{
  background: var(--grey-darker);
  padding: 10px;
}
.player-table-row{
  /*background: var(--black);*/
}
.other_player_name{
  color: var(--white);
}
.my-form{
  input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    background-color: var(--white-dark) !important;
    color: var(--black) !important;
  }
}
.search-input{
  input{
    background-color: var(--white) !important;
    color: var(--black) !important;
  }
}
.general-table{
  background: var(--red);
  border-radius: 10px;
  padding: 0 10px 5px 10px;
  .table-header{
      background: var(--red);
      color: var(--white);
  }
  .table-body{
    background: var(--white-dark);
    color: var(--black);

    .table-row{
      border-bottom: 3px solid var(--red);
    }
  }
}
.login-input-icon{
  color: var(--grey-light);
}

.general-page {
  background-image: url('/full-page-back-no-logo.png');
  background-size: cover; /* Adjusts the image to cover the entire element */
  background-position: center; /* Centers the image */
}

.admin-page-menu {
  background: var(--red);
}
.logout-color {
    color: var(--black);
}

.link-button{
  background-color: var(--white-dark);
}
.link-button:hover{
  background-color: var(--white-darker);
}

.final-table-player-data {
  background: var(--black);
  padding: 3px;
  margin-bottom: 2px;
  color: var(--white);
  width: 75vw;
  border: none;

  .item{
    margin-left: 10px;
  }
}
.reset-credit-button{
  font-size: 20px;
}
.user-name-column {
  max-width: 170px !important;
}

.left-arrow{
     margin: -3px 10px 0;
     font-size: 1.8em;
}

@media only screen and (max-width: 600px) {
  .create-account-button{
    margin-bottom: 25px;
  }
  .left-arrow{
    margin: -3px 10px 0;

  }
.no-sms-error{
  font-size: 0.8em;
}
  .final-table-player-data{
    width: 87vw;
  }
  .reset-credit-button{
    font-size: 27px;
  }
  .hide-on-mobile {
    display: none !important;
    visibility: hidden !important;
  }

  .admin-page-menu {
    direction: rtl;
    padding-right: 10px;
    color: var(--white);
    border-bottom: 1px solid var(--black);
  }

  .main-layout {
    padding-top: 70px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .tournaments-config-mobile-items{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: var(--white);
    background: var(--black);
    padding-right: 50px;
    .item{
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      background: var(--red);

      font-size: 12px;
    }
  }

  .user-name-column {
    max-width: 110px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.side-menu-item{
  color: var(--black);
  background-color: var(--red-light);
}
.side-menu-item:hover{
  color: var(--red-dark);
  background-color: var(--white-dark);
}
.side-menu-item-selected {
  color: var(--white);
  background-color: var(--black);
}
.general-form-wrapper {
  text-align: right;
  margin-top: 1vh;
  margin-left:10vw;
  margin-right: 10vw;
  padding: 0;

}
.general-form-logo{
  padding: 0 135px;
  margin-bottom: 35px;
}

.login-form {
  color: var(--white);
  border-radius: 15px;
  background: linear-gradient(to bottom, var(--grey),var(--grey-dark) );
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow with a slight blur */

  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  height: 55vh;

  .login-input {
    background-color: var(--grey-mid) !important;
    border-color: var(--grey-light) !important;
    text-align: right;
    color: var(--white);
    border-radius: 20px;
  }
  .login-input-icon{
    color: var(--grey-lighter);
  }
  .login-form-label{
    margin-right: 13px;
    margin-top: 20px;
  }
  .login-form-checkbox-label{
    margin-right: 13px;
    margin-top: 7px;
  }
}

.login-form input::placeholder {
  text-align: right;
  color: var(--grey-placeholder) !important;
}


.sign-in-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;


}
.forgot-password{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  direction: rtl;
  font-size: 0.8em;
  margin-top: 5px;
}

.do-not-have-account-yet{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  direction: rtl;
  font-size: 1em;
  margin-bottom: 7px;
}

.red-button {
  direction: rtl !important;
  background: var(--red);
  color: var(--white);
  padding: 2px 5px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  border-radius: 20px;
  font-size: 1.1em;
  height: 42px;
}

.red-button-disabled {
  direction: rtl !important;
  background: var(--grey-light);
  color: var(--grey);
  cursor: not-allowed;
  padding: 2px 5px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  border-radius: 20px;
  font-size: 1.1em;
  height: 42px;
}
.regular-button {
  direction: rtl !important;
  background: var(--blue);
  color: var(--white);
  padding: 2px 15px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  border-radius: 10px;
  font-size: 1em;
  height: 35px;
}

.login-error-msg{
  direction: rtl;
  color: var(--red);
  margin-top: 5px;
}


.bold {
  font-weight: bold;
}
.terms-of-service {
  margin: 10px;
  max-width: 60%;
  background: black;
  color: var(--white);
}
.header-h1 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}
.header-h2 {
  margin-top: 10px;
  font-size: 13px;
}
.pera {
  font-size: 11px;
}

.avatar-image {
  zoom: 1.5;
}
.default-image-avatar >.relative >.relative{
  background: rgb(224, 242, 254);
}

.full-size-fixed-div {
  background: transparent;
  z-index: 910;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}
.current_tournament_fly_card {
  position: fixed;
  top: 6px;
  left: 25px;
  text-align: center;
  padding: 5px 10px;
  z-index: 99;
  border: 2px solid var(--red);
  background: var(--black);
  color: var(--white);
}
.zoom-on-hover:hover {
  transform: scale(2);
  transition: transform 0.5s;
}

.zoom-on-hover-bigger:hover {
  transform: scale(5);
  transition: transform 4s;
  transition-delay: 2s;
  z-index: 99;
}
.justify-end {
  justify-content: flex-end;
  justify-self: end;
}
.sort-cursor {
  cursor: ns-resize;
}

.table-text-item {
  text-align: center;
  padding: 0;
}

.card-table {
  table {
    border-spacing: 1px;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;

    width: 100%;
    td {
      border-spacing: 1px;
      border: 0;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      max-height: 15px;
      line-height: 15px;
    }
    th {
      border-spacing: 1px;
      border: 0;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      width: 110px;
    }
  }
}

.table-item {
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.smaller-test {
  font-size: smaller;
}

.thin-column {
  max-width: 160px !important;
}

.CheckCircleIcon {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

.config-seperator {
  margin: 20px 0;
  height: 20px;
  background-color: var(--white);
}
.config-section {
  margin: 0 10px;
}
.config-section-link {

  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100% !important;
}
.tournaments-config{
  table{
    margin-top: 10px;
  }
  thead{

    background: var(--red);
    color: var(--white);
  }
  tbody{
      background: var(--grey);
      color: var(--white);
  }
}
.users-config{
  text-align: right;
  table{
    margin-top: 10px;
  }
  thead{

    background: var(--red);
    color: var(--white);
    text-align: right;
  }
  tbody{
    background: var(--grey);
    color: var(--white);
    text-align: right;
  }
}

.bugs-edit-input,
.prizes-edit-input,
.player-edit-input,
.tournament-edit-input{
    background-color: var(--white-dark) !important;
    color: var(--black) !important;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.full-width {
  width: 100%;
}

.margin-bottom-wide{
  margin-bottom: 25px;
}

.user-data-page {
  color: var(--white);

}
.image-border {
  border: 1px solid var(--black);
}
.player-page-player-credit-history {
  color: var(--white) !important;
}
.TermsPageBackground {
  background: var(--black);
}
.PlayerDataPageBackground {
  background: var(--black);
}
.admin-menu-item {
  margin-top: 10px;
  color: var(--white);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-left: 8px;
  background: transparent;
}
.admin-menu-item-current {
  background: rgba(255,255,255,0.2);
}
.align-text-right {
    text-align: right;
}
.link-color {
  color: var(--white);
}
.history-table-log {
  width: 100%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.player-menu-item {
  margin-top: 10px;
  color: var(--white);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-left: 8px;
  background: transparent;
}

.player-menu-item-current {
    background: rgba(255,255,255,0.2);
}

.auto-player-pay-button {
  border: 1px solid var(--white);
  margin-right: 0;
  margin-top: 0;
  width: 60px;
  border-radius: 4px 0 0 4px;
  padding-top: 5px;
  padding-right: 10px;
}
.delete-position-button {
  background: var(--red);
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
.error-message-color {
  color: var(--red);
}
.table-row-background-color1 {
  background: var(--white);
}

.table-row-background-color2 {
  background: var(--white-dark);
}

.link-wrapper {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.link-text {
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .margin-bottom-wide{
    margin-bottom: 0;
  }

  .terms-of-service {
    margin: 10px;
    max-width: 90%;
  }

  .players-page-card {
    background: var(--white);
    color: var(--black);
  }


  .p-6{
    padding: 0;
  }
}


@media only screen and (max-width: 600px) {
  .general-page {
    background-image: url('/back.png');
    background-size: cover; /* Adjusts the image to cover the entire element */
    background-position: center; /* Centers the image */
  }
  .general-form-wrapper{
    margin-top: 9vh;
    margin-left:10vw;
    margin-right: 10vw;
    padding: 0;
  }
  .general-form-logo {
    padding: 0 35px;
    margin-bottom: 35px;
  }


  .login-form {
    margin-top: 1vh;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 45px;
    height: 48vh;

    .login-input {
      border-radius: 20px;
    }

    input::placeholder {

    }

    .login-form-label{
      margin-right: 13px;
      margin-top: 1px;
    }
  }

  .sign-in-button{
    margin-top: 22px;
  }
  .forgot-password{
    font-size: 0.8em;
    margin-top: 3px;
  }

  .do-not-have-account-yet{
    margin-top: 25px;
    font-size: 0.8em;
    margin-bottom: 4px;
  }

  .red-button{
    border-radius: 20px;
    font-size: 1.1em;
  }

  .red-button-disabled{
    border-radius: 20px;
    font-size: 1.1em;
  }

  .login-error-msg{
    margin-top: 5px;
  }
}



