@tailwind base;
@tailwind components;
@tailwind utilities;

.top-header {
  color: white;
  /*direction: ltr;*/
  font-size: xxx-large;
  font-family: Abraham;
}
.homepage-top-header{
  padding-left: 40px;
}
.bold{
  font-weight: bold;
}
.form-control {
  border: 2px solid rgb(0, 112, 243);
  border-radius:6px;
  padding:12px;
  background: white;
  box-shadow: 0 0 0 3px white;
}
.highlight-on-hover{
  color: #777777;
}
.highlight-on-hover:hover{
  background: rgb(0, 112, 243,0.8);
  color: white !important;
}
.prize-highlight-on-hover{
  color: black;
}
.prize-highlight-on-hover:hover{
  background: rgb(0, 112, 243,0.5);
  color: white !important;
}
.form-inner-control{
background: rgb(0, 112, 243, 0.2);
}
.zoom-on-hover:hover {
  transform: scale(1.6);
  transition: transform 0.5s;

}
.sort-cursor{
    cursor: ns-resize;

}
.table-text-item{
  text-align: center;
  padding: 0;
}
.card-table{
  table {
    border-spacing: 1px;
    border: 0;
    padding:0;
    margin:0;
    border-collapse: collapse;

    width: 100%;
    td{
      border-spacing: 1px;
      border: 0;
      padding:0;
      margin:0;
      border-collapse: collapse;
      max-height: 15px;
      line-height: 15px;
    }
    th {
      border-spacing: 1px;
      border: 0;
      padding:0;
      margin:0;
      border-collapse: collapse;
      width: 110px;
    }
  }
}


.edit-player-modal{
  background: white;
  z-index:10;
  position: fixed;
  top: 20px;
  right: 50px;
  display: flex;
  justify-content: center;
}
.edit-player-modal-hidden{
  visibility: hidden;
}

.table-item{

  text-align: center;
align-items: center;
 display:grid;
    justify-content: center;
}
.smaller-test{
    font-size: smaller;

}
.thin-column{
  max-width: 160px !important;
}
.rsvp-section{
  svg {
    visibility: hidden;
  }
}
.rsvp-icon{
  font-size: xx-large;
}

.CheckCircleIcon{
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.signin-top-header{
  padding-left: 20px;
}
.config-seperator{
    margin: 20px 0;
    height: 20px;
    background-color: #0070f377;
}
.config-section{
    margin: 0 10px;
}
.homepage-welcome{
  margin-bottom: 90px;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.revenue-table{
  table {
    width: 100%;
    th {
      border: 1px solid #44444455;
      width: 110px;
      text-align: left;
    }
  }
}

.revenue-table-revenue-cell{
  table {
    width: 100%;
    th {
      border: none;
      text-align: center;
    }
  }
}
