@tailwind base;
@tailwind components;
@tailwind utilities;

/*body{*/
/*  direction: rtl;*/
/*}*/

.top-header {
  color: white;
  /*direction: ltr;*/
  font-size: xxx-large;
  font-family: Abraham;
}
.homepage-top-header{
  padding-left: 40px;
}
.bold{
  font-weight: bold;
}
.form-control {
  border: 1px solid rgb(0, 112, 243);
  border-radius:6px;
  padding:12px;
}
.form-inner-control{
background: rgb(0, 112, 243, 0.2);
}
.zoom-on-hover:hover {
  transform: scale(1.6);
  transition: transform 0.5s;

}
.table-text-item{
  text-align: center;
}
.card-table{
  table {
    width: 100%;
    th {
      width: 110px
    }
  }
}
.table-item{

  text-align: center;
align-items: center;
 display:grid;
    justify-content: center;
}
.thin-column{
  max-width: 160px !important;
}
.rsvp-section{
  svg {
    visibility: hidden;
  }
}
.rsvp-icon{
  font-size: xx-large;
}

.CheckCircleIcon{
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
.signin-top-header{
  padding-left: 20px;
}
.config-seperator{
    margin: 20px 0;
    height: 20px;
    background-color: #0070f377;
}
.config-section{
    margin: 0 10px;
}
.homepage-welcome{
  margin-bottom: 90px;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
