.form-control {
    border: 2px solid rgb(0, 112, 243);
    border-radius:6px;
    padding:12px;
    background: white;
    box-shadow: 0 0 0 3px white;
}

.form-inner-control {
    background: rgb(0, 112, 243, 0.2);
}

.edit-player-modal {
    background: rgba(0, 0, 0, 0.75);
    z-index:10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.edit-player-modal-hidden {
    visibility: hidden;
}
.edit-player-modal-inner-div {
    background: white;
    z-index:11;
    position: fixed;
    top: 10vh;
    left: 35vw;
    width: 30vw;
}
@media only screen and (max-width: 600px) {
    .edit-player-modal-inner-div {
        top: 10vh;
        left: 10vw;
        width: 80vw;
    }
}
.rsvp-section {
    svg {
        visibility: hidden;
    }
}
.rsvp-icon{
    font-size: xx-large;
}



.dropdown {
    position: relative;
    color: #333;
    cursor: default;
}

.dropdown .arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}

.dropdown .arrow.open {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.dropdown .selected-value input {
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
}

.dropdown .options {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
    display: block;
}


.dropdown-player {
    display: flex;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
}

.dropdown-player.selected {
    background-color: #c2f5ff;
    color: #333;
}


.dropdown-player:hover {
    background-color: #f2f5ff;
    color: #333;
}


.give_user_prize{
    text-align: left;
}
.give_user_credit_amount{
    margin-top: 10px;
    height: 80px;
}

.pe_signin_button > button {
    border: 2px solid red;
}

.confirmation-modal-wrapper{
    background: rgba(0, 0, 0, 0.75);
    z-index:20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.confirmation-modal{
    border: 2px solid rgb(0, 112, 243);
    border-radius:6px;
    padding:15px;
    background: white;
    box-shadow: 0 0 0 3px white;
    text-align: center;
    color: black;
    position: fixed;
    top: 30vh;
    width: 50vw;
    left: 25vw;
}
.confirmation-modal-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirmation-modal-button{
    padding: 5px;
    margin: 5px;
    min-width: 40px;
}

.give-credit-modal-button{

}
.cellular{
    display: none;
}
.wide-screen{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .cellular {
        display: flex;
    }
    .wide-screen{
        display: none;
    }

    .tournament_rsvp_line{
        margin-bottom: 10px;
    }
    .give-credit-modal-button {
        img{
            max-width: unset;
        }


    }
}
