.full-size-fixed-div {
  background: transparent;
  z-index: 910;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}

.CreateTournamentFormWrapper,
.EditTournamentFormWrapper,
.UseCreditFormWrapper,
.SetPrizeFormWrapper,
.SetPositionFormWrapper,
.SetPrizesCreditFormWrapper,
.SetGivePrizeFormWrapper,
.OpenConvertPrizeToCreditFormWrapper,
.CreatePlayerFormWrapper,
.EditPlayerFormWrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000bb;
  z-index: 99999;
  padding-top: 5vh;
  display: flex;
  justify-content: center;

  .CreateTournamentForm,
  .EditTournamentForm,
  .UseCreditForm,
  .SetPositionForm,
  .SetPrizeForm,
  .SetPrizesCreditForm,
  .SetGivePrizeForm,
  .OpenConvertPrizeToCreditForm,
  .CreatePlayerForm,
  .EditPlayerForm {
    color: var(--white);
    border-radius: 15px;
    background: linear-gradient(to bottom, var(--grey),var(--grey-dark) );
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow with a slight blur */
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    width: 40vw;
  }
  .CreateTournamentForm,
  .EditTournamentForm{
    padding-top: 0;
    /*font-size: 63%;*/
    zoom: 0.8;
    overflow-y: scroll !important;
  }
  .UseCreditForm{
    height: 87vh;
  }
  .SetPositionForm {
    height: 40vh;
  }

  .SetPrizeForm{
    height: 30vh;
  }
  .CreatePlayerForm{
    height: 80vh;
  }
  .EditPlayerForm {
    height: 50vh;
  }
  .SetGivePrizeForm {
    height: 50vh;
    width: 30vw;
  }
  .SetPrizesCreditForm{
    width: 30vw;
  }
}

.confirmation-modal-first-wrapper {
  direction: rtl;
  text-align: right;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999997;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .confirmation-modal-second-wrapper {
    z-index: 999998;
    background: var(--red);
    border-radius: 16px;
    padding: 10px;
    position: fixed;
    top: 30vh;
    width: 50vw;
    left: 25vw;


    .confirmation-modal {
      z-index: 999999;
      border: 4px solid var(--white);
      border-radius: 16px;
      padding: 15px;
      background: var(--black);

      text-align: center;
      color: var(--white);
    }

  }

}

.confirmation-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmation-modal-button {
  padding: 5px 7px;
  margin: 5px;
  min-width: 50px;
  font-size: 20px;
  border: 1px solid var(--grey-lighter);
  border-radius: 10px;
  background: var(--grey-dark);
}

@media only screen and (max-width: 600px) {
  .EditTournamentFormWrapper,
  .UseCreditFormWrapper,
  .SetPrizeFormWrapper,
  .SetPositionFormWrapper,
  .SetPrizesCreditFormWrapper,
  .SetGivePrizeFormWrapper,
  .OpenConvertPrizeToCreditFormWrapper,
  .CreatePlayerFormWrapper,
  .EditPlayerFormWrapper{
    padding-top: 7vh;
    .EditTournamentForm,
    .UseCreditForm,
    .SetPositionForm,
    .SetPrizesCreditForm,
    .SetPrizeForm,
    .SetGivePrizeForm,
    .OpenConvertPrizeToCreditForm,
    .CreatePlayerForm,
    .EditPlayerForm {
      width: 90vw;
    }

  }

  .confirmation-modal-first-wrapper {
    .confirmation-modal-second-wrapper {
      top: 20vh;
      width: 90vw;
      left: 5vw;
    }
  }
}



.edit-player-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000bb;
  z-index: 99999;
  padding-top: 5vh;
  display: flex;
  justify-content: center;

  .edit-player-modal {
    color: var(--white);
    border-radius: 15px;
    background: linear-gradient(to bottom, var(--grey),var(--grey-dark) );
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow with a slight blur */
    width: 40vw;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    min-height: 50vh;
    height: 85vh;
    overflow-y: auto !important;
  }

}
@media only screen and (max-width: 600px) {
  .edit-player-modal-wrapper {
    .edit-player-modal {
      width: 90vw;
    }
  }
}
