.guide-link {
  color: rgb(0, 112, 243);
  cursor: pointer;
  font-weight: bold;
  ext-decoration: underline;
}

.sign-in-top-header {
  padding-left: 20px;
  font-size: x-large;
  color: var(--white);
}

.form-control {
  background: linear-gradient(to bottom, var(--grey),var(--grey-dark) );
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow with a slight blur */
  border-radius: 6px;
  padding: 12px;
  background: var(--black);
  color: var(--white);


}

.form-inner-control {
  background: var(--grey);
  color: var(--white);
  input[type='number'],
  input[type='text'] {
    background: var(--grey);
    color: var(--white);
  }
}

.edit-player-modal {
  background: rgba(0, 0, 0, 0.75);
  z-index: 910;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hidden {
  visibility: hidden;
  display: none;
}

.edit-player-modal-hidden {
  visibility: hidden;
}

.edit-player-modal-inner-div {
  background: transparent;
  z-index: 911;
  position: fixed;
  top: 6vh;
  left: 35vw;
  width: 30vw;

  overflow-y: auto !important;
  max-height: 90vh;
}

.rsvp-section {
  svg {
    visibility: hidden;
  }
}

.update_player_credit {
  svg {
    visibility: hidden;
  }
}
.regulations_approve {
  height: 30px !important;
  input[type='checkbox'] {
    color: red;
    appearance: none;
    background-color: #AAAAAA;
    border-color: transparent;
    width: 22px;
    height: 22px ;
    display: inline-block;
    position: relative;
  }

  input[type='checkbox']:checked {
    color: #AAAAAA;
    outline: none !important;
    border-color: transparent !important;
  }

  input[type='checkbox']:focus,
  input[type='checkbox']:active {
    outline: none !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
  }

  input[type='checkbox']:checked::after {
    content: '✔';
    color: red;
    font-size: 1.8em;
    position: absolute;
    top: -16px;
    left: 2px;
    border: 1px solid transparent !important;
  }

  svg {
    visibility: hidden;
  }
  label{
    margin-top: 4px;

  }
  a{
    color: var(--white) !important;
  }
  a:visited {
    color: var(--white) !important;
  }
}

.marketing_approve {
  height: 30px !important;
  input[type='checkbox'] {
    color: red;
    appearance: none;
    background-color: #AAAAAA;
    border-color: transparent;
    width: 22px;
    height: 22px ;
    display: inline-block;
    position: relative;
  }

  input[type='checkbox']:checked {
    color: #AAAAAA;
    outline: none !important;
    border-color: transparent !important;
  }

  input[type='checkbox']:focus,
  input[type='checkbox']:active {
    outline: none !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
  }

  input[type='checkbox']:checked::after {
    content: '✔';
    color: red;
    font-size: 1.8em;
    position: absolute;
    top: -16px;
    left: 2px;
    border: 1px solid transparent !important;
  }

  svg {
    visibility: hidden;
  }
  label{
    margin-top: 4px;
  }
}

.rsvp-icon {
  font-size: xx-large;
}

.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--white);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown-player {
  display: flex;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
}

.dropdown-player.selected {
  background-color: #c2f5ff;
  color: #333;
}

.dropdown-player:hover {
  background-color: #f2f5ff;
  color: #333;
}

.give_user_prize {
  text-align: left;
  margin-top: 60px;
  height: 165px;
}

.give_user_credit_amount {
  margin-top: 10px;
  height: 80px;
}

.div > pe_signin_button {
  width: 100%;
}
.pe_signin_button {
  margin-right: 20px;
  margin-left: 30px;
}

.pe_signin_button > button {
  width: 100%;
  /*zoom: 1.3;*/
}
.pe_signin_button > button > span {
  margin-right: 6px;
}

.confirmation-modal-wrapper {
  background: rgba(0, 0, 0, 0.75);
  z-index: 920;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.confirmation-modal {
  border: 2px solid rgb(0, 112, 243);
  border-radius: 6px;
  padding: 15px;
  background: white;
  box-shadow: 0 0 0 3px white;
  text-align: center;
  color: black;
  position: fixed;
  top: 30vh;
  width: 60vw;
  left: 25vw;
}

.confirmation-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmation-modal-button {
  padding: 5px;
  margin: 5px;
  min-width: 40px;
}

.give-credit-modal-button {
  font-size: 17px;

}

.cellular {
  display: none;
}

.cellular-block {
  display: none;
}

.wide-screen {
  display: flex;
}
.only-wide-screen {
}
.my-button {
  padding: 4px;
  background: var(--blue);
  border-radius: 4px;
  margin-left: 5px;
}

.my-button-cancel {
  padding: 4px 8px;
  background: var(--grey);
  color: var(--white);
  border-radius: 5px;
  margin-left: 5px;
}

.highlight-on-hover {
  padding: 3px 10px;
  color: var(--white);
  background: var(--black);
}

.highlight-on-hover:hover {
  background:  var(--grey);
}

.prize-highlight-on-hover {
  color: black;
}

.prize-highlight-on-hover:hover {
  background: rgb(0, 112, 243, 0.5);
  color: white !important;
}

.text-tournaments-data-page {
  color: #555555;
}

.text-on-card {
  background: var(--red);
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  margin-right: 10px;
}

.card-body-one-line {
  padding: 50px;
  font-size: 40px;
  background: var(--black);
  color: var(--white);

}

.card-body-one-line-long-number {
  padding: 50px;
  font-size: 24px;
  background: var(--black);
  color: var(--white);
}

.prize-row {
  margin-bottom: 5px;
}

.rsvp_button {
  cursor: pointer;
  textdecoration: underline;
  font-size: xx-large;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.rsvp_button-registered {
  color: black;
  /*background-color: coral;*/
}

.rsvp_button-unregistered {
  color: black;
  /*background-color: black ;*/
}

.no_more_place {
  padding: 10px;
  color: orangered;
  background-color: black;
  font-size: xx-large;
}

.no_need_for_rsvp {
  padding: 10px;
  color: yellow;
  background-color: black;
  font-size: xx-large;
}

.no_tournament_today {
  padding: 20px;
  color: orange;
  background-color: darkblue;
  font-size: x-large;
}

.tournament_data {
  padding: 20px;
  font-size: x-large;

  border-radius: 4px;
}

.tournament_data_registered {
  background-color: palegreen;
  color: green;
}

.tournament_data_unregistered {
  color: maroon;
  background-color: rgb(255, 0, 0, 0.1);
}

.rsvp_text {
  font-size: xx-large;
}

.rsvp_text-registered {
  color: green;
}

.rsvp_text-unregistered {
  color: brown;
}

.tournaments-data-table {

  table {
    width: 100%;
    th {
      border: 1px solid var(--black);
      width: 110px;
    }
  }
}

.tournaments-data-table-income-cell {

  table {
    background: var(--black);
    width: 100%;
    th {
      border: none;
      text-align: center;
    }
  }
}

.card {
  margin-bottom: 10px;
  background: var(--red)
}

.font-large {
  font-size: 20px;
}

.create-new-today-player-button {
  width: 250px;
}

.gray-on-hover:hover {
  background: #666666;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.smaller-on-mobile {
  font-size: 18px;
}
.smaller-on-mobile-smaller {
  font-size: 18px;
}

.players-final-table-cell {
}
.edit-tournament-link {
  margin-right: -60px;
}
.delete-prize-button {
  background: orange;
}
.delete-tournament-button {
  background: transparent;
}
.edit-prize-link {
}

.tournaments-total-income-font {
  font-size: 20px;
  font-weight: bold;
  background: var(--grey-dark);
  color: var(--white);
}

.give-credit-modal-button-b {
  padding: 8px;
}

.move-up-down-button {
  padding: 8px;
}

.player-pages {
  background-image: url('/t-backgroung-web.png');
  background-size: 100% 100%;
  background-position: center; /* Centers the image */
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .player-page-body{
    position: absolute;
    width: 100vw;
    top: 191px;
    left: 0;
    padding-top: 30px;
    max-height: calc(100vh - 191px);
    overflow-y: auto; /* Enable vertical scrolling */
  }
  .player-header-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 191px;
    background: var(--grey-darker);
    color: white;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px -2px black; /* Adds a black shadow at the bottom */

    .dot {
      color: var(--grey-dark);
    }
    .icon {
     padding-top: 30px;
    }
  }


}

.rsvp-for-next-week-page {

  .rsvp-for-next-week {
    padding: 30px;
    font-size: 1.3em;
    .header {
      color: var(--white);
      text-align: right;
      font-size: 1.6em;
      margin-right: 30px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }

  .rsvp-for-next-week > img {
    width: 1px;
  }

}

@media only screen and (max-width: 600px) {
  .player-pages{
    min-height: 3000px;
    .player-header-div {
      padding: 5px 15px 5px 5px;
      .player-header {
       font-size: 1.8em;
      }
    }

  }

  .rsvp-for-next-week-page {
    background-image: url('/t-backgroung-cell.png');
    .rsvp-for-next-week {
      padding: 10px;
    }

    .rsvp-for-next-week > img {
      width: 100%;
      visibility: visible;
    }
  }
}


.transparent_background {
  background: transparent;
}

@keyframes red_blinking_background_anim {
  to {
    background-color: var(--white);
  }
}

.regular_background {
  background-color: var(--red-light)
}
.red_blinking_background {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: red_blinking_background_anim;
}


.player_page_menu {
  z-index: 2000;
  width: 200px;
  height: 100vh;
  background: linear-gradient(to bottom, var(--red-dark), var(--red));
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  font-weight: bold;
  transition: right 1s;
  padding-right: 10px;
}
.player_page_menu_header {
  border-bottom: 2px solid var(--white);
  height: 60px;
  padding-top: 16px;
}
.player_page_menu_opened {
  right: 0;
}

.player_page_menu_closed {
  right: -200px;
}

.user-tournament-rsvps {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 15px;
}


.user-tournament-rsvp-item {
  width: 438px;

  margin: 20px;
  background: linear-gradient(to bottom, var(--back_to), var(--back_from));
  color: var(--white);
  border-radius: 20px;
  padding: 15px 30px;
}
.tournament_rsvp_line {
  display: block;
  margin: 15px 0;

  .tournament_name{
    font-size: 27px;
    height:30px;
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tournament_description{
    margin-top: 10px;
    font-size: 17px;
    height: 30px;
    margin-bottom:5px;
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tournament_time{
    display: flex;
    background: var(--red);
    border-radius: 20px;
    font-size: 16px;
    width: 225px;

    .tournament_time-clock {
       margin: 5px 8px 0 7px;
      zoom:1.1;
    }
    .tournament_time-start_time {
      margin-left: 7px;
    }
    .tournament_time-day-of-week {
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  .tournament_divider{
    margin-top:20px;
    margin-bottom: 20px;
    margin-right:-5px;
    background: #ffffff11;
    width: 389px;
    height: 2px;
  }


  .tournament-section{
    margin-bottom: 18px;
    background: #ffffff11;
    border-radius: 15px;
    width: 389px;
    /*height: 85px;*/

    padding: 16px 20px 1px 20px;


    display: block;
    align-items: start;
    text-align: right;

    font-size: 15px;

    .tournament-section-row{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .tournament-section-row-icon {
        width: 25px;
      }
      .tournament-section-row-icon-clock{
        padding-top: 3px;
        zoom:1.2;
      }
    }
  }

  .tournament-rsvp-status-section{
    margin-bottom: 18px;
    border-radius: 15px;
    width: 389px;
    height: 48px;
    padding: 10px 20px 1px 20px;
    align-items: start;
    text-align: right;
    font-size: 18px;
    display: flex;
  }

  .tournament-rsvp-status-section-unregistered{
    background: var(--unregistered);
  }
  .tournament-rsvp-status-section-registered{
    background: var(--registered);
  }
  .tournament-rsvp-status-section-no-registration-needed{
    background: var(--no-registration-needed);
  }

  .tournament-rsvp-button-section{
    margin-bottom: 18px;
    border: 2px solid var(--red);
    border-radius: 25px;
    width: 389px;
    height: 53px;
    padding: 8px 20px 1px 20px;
    display: block;
    align-items: center;
    text-align: center;
    font-size: 20px;

    span{
      margin: -3px 5px 0;
    }
  }

  .tournament-rsvp-button-section-unregistered{
    background: var(--red);
    cursor: pointer;
  }
  .tournament-rsvp-button-section-registered{
    background: var(--black);
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .user-tournament-rsvp-item {
    width: 340px;
    margin: 20px;
    border-radius: 15px;
    padding: 10px 18px 10px 5px;
  }
  .tournament_rsvp_line {
    display: block;
    margin: 15px 0;

    .tournament_name{
      font-size: 24px;
      width: 330px;
    }
    .tournament_description{
      width: 330px;
    }
    .tournament_time{
      font-size: 16px;
      width: 225px;
    }

    .tournament_divider{
      margin-right:0;
      background: #ffffff11;
      width: 301px;
    }

    .tournament-section{
      border-radius: 13px;
      width: 301px;

      .tournament-section-row{

        margin-bottom: 13px;

        .tournament-section-row-icon {
          width: 25px;
        }
      }
    }

    .tournament-rsvp-status-section{
      margin-bottom: 18px;
      border-radius: 15px;
      width: 301px;
    }

    .tournament-rsvp-button-section{
      margin-bottom: 18px;
      border: 2px solid var(--red);
      border-radius: 25px;
      width: 301px;
      height: 53px;
      padding: 8px 20px 1px 20px;
      display: block;
      align-items: center;
      text-align: center;
      font-size: 20px;

      span{
        margin: -3px 5px 0;
      }
    }

    .tournament-rsvp-button-section-unregistered{
      background: var(--red);
      cursor: pointer;
    }
    .tournament-rsvp-button-section-registered{
      background: var(--black);
      cursor: pointer;
    }
  }

  .player_page_menu {
    width: 50vw;
  }

  .player_page_menu_closed {
    right: -50vw;
  }

  .move-up-down-button {
    padding: 0;
    margin: 0;
  }

  .give-credit-modal-button-b {
    padding: 0;
    margin-left: 3px;
  }
  .tournaments-total-income-font {
    font-size: 13px;
    font-weight: bold;
  }
  .tournaments-data-table-income-cell {
    font-size: 10px;
    display: block;
  }

  .edit-prize-link {
    margin-right: -27px;
  }

  .delete-prize-button {
    margin-right: -29px;
  }
  .edit-tournament-link {
    margin-right: -27px;
  }

  .players-final-table-cell {
    padding: 0;
  }
  .smaller-on-mobile {
    font-size: 10px;
    font-weight: bold;
  }
  .smaller-on-mobile-smaller {
    font-size: 6px;
  }
  .create-new-today-player-button {
    width: unset;
  }
  .font-large {
    font-size: unset;
  }

  .cellular {
    display: flex;
  }
  .cellular-block {
    display: block;
  }
  .wide-screen {
    display: none;
  }
  .only-wide-screen {
    display: none;
    visibility: collapse;
    max-width: 1px;
  }
  .tournaments-data-table {
    table {
      th {
        width: 70px;
      }
    }
  }


  .user-tournament-rsvps {
    display: block;
    margin: 0;
  }

  .give-credit-modal-button {
    font-size: 12px;
    img {
      max-width: unset;
    }
  }

  .card {
    border: 2px solid var(--red-dark);
    margin-bottom: 10px;
  }

  .card-header {
    padding: 0 0 3px 11px;
    text-align: center;
  }

  .card-body-one-line {
    direction: rtl;
    padding: 0;
    max-height: 80px;
    font-size: 19px;
    background: var(--black);
    color: var(--white);
    max-width: 90vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-body {
    /*background: var(--black);*/
    color: var(--white);
    padding: 0;
    max-height: 1126px;
    font-size: 20px;
  }

  .prize-row {
    font-size: 12px;
    margin-bottom: 5px;
    justify-content: space-around;
  }

  .edit-player-modal-inner-div {
    top: 10vh;
    left: 10vw;
    width: 80vw;
  }
}
