.guide-link {
  color: rgb(0, 112, 243);
  cursor: pointer;
  font-weight: bold;
  ext-decoration: underline;
}
.sign-up-top-header {
  padding-left: 20px;
  font-size: x-large;
  color: white;
}

.sign-in-top-header {
  padding-left: 20px;
  font-size: x-large;
  color: white;
}

.form-control {
  border: 2px solid rgb(0, 112, 243);
  border-radius: 6px;
  padding: 12px;
  background: white;
  box-shadow: 0 0 0 3px white;
}

.form-inner-control {
  background: rgb(0, 112, 243, 0.2);
}

.edit-player-modal {
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit-player-modal-hidden {
  visibility: hidden;
}

.edit-player-modal-inner-div {
  background: white;
  z-index: 11;
  position: fixed;
  top: 10vh;
  left: 35vw;
  width: 30vw;
}

.rsvp-section {
  svg {
    visibility: hidden;
  }
}

.update_player_credit {
  svg {
    visibility: hidden;
  }
}
.regulations_approve {
  svg {
    visibility: hidden;
  }
}

.marketing_approve {
  svg {
    visibility: hidden;
  }
}

.rsvp-icon {
  font-size: xx-large;
}

.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown-player {
  display: flex;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
}

.dropdown-player.selected {
  background-color: #c2f5ff;
  color: #333;
}

.dropdown-player:hover {
  background-color: #f2f5ff;
  color: #333;
}

.give_user_prize {
  text-align: left;
  margin-top: 60px;
  height: 165px;
}

.give_user_credit_amount {
  margin-top: 10px;
  height: 80px;
}

.div > pe_signin_button {
  width: 100%;
}
.pe_signin_button {
  margin-right: 20px;
  margin-left: 30px;
}

.pe_signin_button > button {
  width: 100%;
  /*zoom: 1.3;*/
}
.pe_signin_button > button > span {
  margin-right: 6px;
}

.confirmation-modal-wrapper {
  background: rgba(0, 0, 0, 0.75);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.confirmation-modal {
  border: 2px solid rgb(0, 112, 243);
  border-radius: 6px;
  padding: 15px;
  background: white;
  box-shadow: 0 0 0 3px white;
  text-align: center;
  color: black;
  position: fixed;
  top: 30vh;
  width: 60vw;
  left: 25vw;
}

.confirmation-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmation-modal-button {
  padding: 5px;
  margin: 5px;
  min-width: 40px;
}

.give-credit-modal-button {
  font-size: 17px;
}

.cellular {
  display: none;
}

.cellular-block {
  display: none;
}

.wide-screen {
  display: flex;
}
.only-wide-screen {
}
.my-button {
  padding: 4px;
  border: #7f7f7f 1px solid;
  background: #00666633;
  border-radius: 4px;
  margin-left: 5px;
}

.highlight-on-hover {
  color: #333333;
}

.highlight-on-hover:hover {
  background: rgb(0, 112, 243, 0.1);
  /*color: white !important;*/
}

.prize-highlight-on-hover {
  color: black;
}

.prize-highlight-on-hover:hover {
  background: rgb(0, 112, 243, 0.5);
  color: white !important;
}

.text-tournaments-data-page {
  color: #555555;
  fontsize: 11;
}

.text-on-card {
  background: #6666ccaa;
  color: white;
  width: 30px;
  height: 30px;
  /*border-radius: 50px;*/
  text-align: center;
  margin-right: 10px;
}

.card-body-one-line {
  padding: 50px;
  font-size: 40px;
}

.prize-row {
  margin-bottom: 5px;
}

.rsvp_button {
  cursor: pointer;
  textdecoration: underline;
  font-size: xx-large;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

.rsvp_button-registered {
  color: black;
  /*background-color: coral;*/
}

.rsvp_button-unregistered {
  color: black;
  /*background-color: black ;*/
}

.no_more_place {
  padding: 10px;
  color: orangered;
  background-color: black;
  font-size: xx-large;
}

.no_need_for_rsvp {
  padding: 10px;
  color: yellow;
  background-color: black;
  font-size: xx-large;
}

.no_tournament_today {
  padding: 20px;
  color: orange;
  background-color: darkblue;
  font-size: x-large;
}

.tournament_data {
  padding: 20px;
  font-size: x-large;

  border-radius: 4px;
}

.tournament_data_registered {
  background-color: palegreen;
  color: green;
}

.tournament_data_unregistered {
  color: maroon;
  background-color: rgb(255, 0, 0, 0.1);
}

.rsvp_text {
  font-size: xx-large;
}

.rsvp_text-registered {
  color: green;
}

.rsvp_text-unregistered {
  color: brown;
}

.tournaments-data-table {
  table {
    width: 100%;
    th {
      border: 1px solid #44444455;
      width: 110px;
      text-align: left;
    }
  }
}

.tournaments-data-table-income-cell {
  table {
    width: 100%;
    th {
      border: none;
      text-align: center;
    }
  }
}

.card {
  margin-bottom: 10px;
}

.font-large {
  font-size: 20px;
}

.create-new-today-player-button {
  width: 250px;
}

.gray-on-hover:hover {
  background: #666666;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.smaller-on-mobile {
  font-size: 18px;
}
.smaller-on-mobile-smaller {
  font-size: 18px;
}

.players-final-table-cell {
}
.edit-tournament-link {
  margin-right: -60px;
}
.delete-prize-button {
}
.edit-prize-link {
}

.tournaments-total-income-font {
  font-size: 20px;
  font-weight: bold;
}

.give-credit-modal-button-b {
  padding: 8px;
}

.move-up-down-button {
  padding: 8px;
}

.player-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  color: white;
  background: rgb(0, 112, 243);
  padding: 5px 15px 5px 5px;
  display: flex;
  justify-content: space-between;
}

.transparent_background {
  background: transparent;
}

@keyframes red_blinking_background_anim {
  to {
    background-color: #e50000aa;
    color: white;
  }
}

.red_blinking_background {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: red_blinking_background_anim;
}

.player_page_menu {
  z-index: 99999;
  width: 200px;
  height: 100vh;
  background: rgb(0, 90, 223);
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  font-weight: bold;
  transition: right 1s;
  padding-right: 10px;
}
.player_page_menu_header {
  border-bottom: 2px solid rgb(0, 50, 200);
  height: 60px;
  padding-top: 16px;
}
.player_page_menu_opened {
  right: 0;
}

.player_page_menu_closed {
  right: -200px;
}
@media only screen and (max-width: 600px) {
  .player_page_menu {
    width: 50vw;
  }

  .player_page_menu_closed {
    right: -50vw;
  }

  .red_blinking_background {
    background: transparent;
  }

  .move-up-down-button {
    padding: 0;
    margin: 0;
  }

  .give-credit-modal-button-b {
    padding: 0;
    margin-left: 3px;
  }
  .tournaments-total-income-font {
    font-size: 13px;
    font-weight: bold;
  }
  .tournaments-data-table-income-cell {
    font-size: 10px;
    display: block;
  }

  .edit-prize-link {
    margin-right: -27px;
  }

  .delete-prize-button {
    margin-right: -29px;
  }
  .edit-tournament-link {
    margin-right: -27px;
  }

  .players-final-table-cell {
    padding: 0;
  }
  .smaller-on-mobile {
    font-size: 10px;
    font-weight: bold;
  }
  .smaller-on-mobile-smaller {
    font-size: 6px;
  }
  .create-new-today-player-button {
    width: unset;
  }
  .font-large {
    font-size: unset;
  }

  .cellular {
    display: flex;
  }
  .cellular-block {
    display: block;
  }
  .wide-screen {
    display: none;
  }
  .only-wide-screen {
    display: none;
    visibility: collapse;
    max-width: 1px;
  }
  .tournaments-data-table {
    table {
      th {
        width: 70px;
      }
    }
  }

  .tournament_rsvp_line {
    margin-bottom: 10px;
    display: flex;
  }

  .give-credit-modal-button {
    font-size: 12px;
    img {
      max-width: unset;
    }
  }

  .card {
    border: 2px solid rgb(0, 112, 243);
    margin-bottom: 10px;
  }

  .card-header {
    padding: 0 0 3px 11px;
    text-align: center;
  }

  .card-body-one-line {
    padding: 0;
    max-height: 80px;
    font-size: 20px;
  }

  .card-body {
    padding: 0;
    max-height: 1126px;
    font-size: 20px;
  }

  .prize-row {
    font-size: 12px;
    margin-bottom: 5px;
    justify-content: space-around;
  }

  .edit-player-modal-inner-div {
    top: 10vh;
    left: 10vw;
    width: 80vw;
  }
}
